astroid==2.4.2
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1618968359944/work
attrs @ file:///opt/conda/conda-bld/attrs_1642510447205/work
backcall==0.2.0
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
beautifulsoup4 @ file:///tmp/build/80754af9/beautifulsoup4_1631874778482/work
black @ file:///home/conda/feedstock_root/build_artifacts/black-recipe_1643636307408/work
Bottleneck @ file:///D:/bld/bottleneck_1645538339859/work
brotlipy @ file:///D:/bld/brotlipy_1636012381660/work
certifi==2021.10.8
cffi @ file:///D:/bld/cffi_1636046293990/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1644853463426/work
click @ file:///D:/bld/click_1645238350348/work
colorama==0.4.3
cryptography @ file:///C:/ci/cryptography_1639472366776/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
debugpy @ file:///D:/bld/debugpy_1636043421411/work
decorator==4.4.2
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1633213722787/work
fonttools==4.25.0
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1642433548627/work
importlib-metadata @ file:///C:/ci/importlib-metadata_1638543108096/work
importlib-resources==5.4.0
ipykernel==5.3.4
ipython==7.16.1
ipython-genutils==0.2.0
isort==4.3.21
jedi==0.17.2
jsonschema==4.4.0
jupyter-client==6.1.6
jupyter-core==4.6.3
kiwisolver @ file:///C:/ci/kiwisolver_1644962567532/work
lazy-object-proxy==1.4.3
matplotlib @ file:///C:/ci/matplotlib-suite_1645455836921/work
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1631080358261/work
mccabe==0.6.1
mkl-service==2.4.0
munkres==1.1.4
mypy-extensions @ file:///D:/bld/mypy_extensions_1635839836822/work
nbformat @ file:///tmp/build/80754af9/nbformat_1617383369282/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1638419302549/work
numexpr @ file:///C:/ci/numexpr_1640704408721/work
numpy @ file:///D:/bld/numpy_1643959091469/work
olefile @ file:///Users/ktietz/demo/mc3/conda-bld/olefile_1629805411829/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas @ file:///C:/ci/pandas_1645002492103/work
parso==0.7.1
pathspec @ file:///home/conda/feedstock_root/build_artifacts/pathspec_1626613672358/work
pickleshare==0.7.5
Pillow==8.4.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1645298319244/work
plotly @ file:///tmp/build/80754af9/plotly_1626182254919/work
prompt-toolkit==3.0.5
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
Pygments==2.6.1
pylint==2.5.3
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1643496850550/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1642753572664/work
pyrsistent==0.18.1
PySocks @ file:///D:/bld/pysocks_1635862590164/work
python-dateutil==2.8.1
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1633452062248/work
pywin32==303
pyzmq @ file:///D:/bld/pyzmq_1635877383625/work
requests @ file:///opt/conda/conda-bld/requests_1641824580448/work
scipy @ file:///C:/ci/scipy_1641555198988/work
seaborn @ file:///tmp/build/80754af9/seaborn_1629307859561/work
sip==4.19.13
six==1.15.0
soupsieve @ file:///tmp/build/80754af9/soupsieve_1636706018808/work
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1644872665635/work
tenacity @ file:///C:/ci/tenacity_1632740845368/work
toml==0.10.1
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
tornado==6.0.4
traitlets==4.3.3
typed-ast @ file:///D:/bld/typed-ast_1643045985582/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1644850595256/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1641584929973/work
wcwidth==0.2.5
win-inet-pton @ file:///D:/bld/win_inet_pton_1635833007271/work
wrapt==1.12.1
zipp @ file:///opt/conda/conda-bld/zipp_1641824620731/work
